<div class="iou_homepage_center">

    <!------------打白条----------添加banner后需添加“show_top”清除间隔---------->
    <div class="white_stripes_plate ">

        <div class="top_plates">

            <p>打白条</p>

        </div>

        <div class="take_now_plate">
            <!--如果新增菜单，遮罩层 div 一定要放置于打白条所有的菜单的最后，对布局无影响-->

            <a class="left_staff_img" href="../borrow/borrow.html">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_carda.png">
                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->

                    <div class="left_img right_select">
                        <p>借钱</p>

                        <p>极速到账，分期付款</p>
                    </div>

            </a>


            <!--即将上线，添加class值coming_soon-->
            <a class="left_staff_img" href="../return_bankcard/bank_card.html">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_cardb.png">
                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->
                <div class="left_img right_select">
                    <p>代还信用卡</p>

                    <p>借钱还信用卡，分期还借款</p>
                </div>

            </a>

            <a class="left_staff_img">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_cardc.png">
                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->
                <div class="left_img  right_select">
                    <p>员工专享</p>

                    <p>内部员工VIP专享</p>
                </div>

            </a>

        </div>

    </div>

    <!------------还款-------------------->
    <div class="white_stripes_plate">

        <div class="top_plates">

            <p>还款</p>

        </div>

        <!------------------------------------->

        <div class="take_now_plate">
            <!--如果新增菜单，遮罩层 div 一定要放置于打白条所有的菜单的最后，对布局无影响-->

            <!--pay_select是已逾期的图标，pay_select_one是已还清的图标-->

            <a class="left_staff_img">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_cardd.png">
                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->
                <div class="left_img right_select">
                    <p>还款</p>

                    <p>还款日2019.04.15</p>

                </div>
            </a>

            <!-----------------已逾期-------------------->

            <a class="left_staff_img">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_cardd.png">
                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->
                <div class="left_img right_select pay_select">
                    <p>还款</p>

                    <p>还款日2019.04.15</p>

                    <div class="right_pic"></div>

                </div>
            </a>

            <a class="left_staff_img left_staff_word">

                <div class="left_img left_staff">

                </div>
                <!--推荐：“hot_select”,手机认证专享：“vip_choose”，员工专享：“staff_choose”-->
                <div class="left_imgs">
                    <p></p>

                    <p class="left_choose"><span>应还金额</span><span class="choose_word">￥5200.00</span></p>
                </div>
            </a>

        </div>

        <!-----------------已还清-------------------->

        <div class="take_now_plate take_now_money">

            <a class="left_staff_img">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_cardd.png">
                </div>
                <div class="left_img right_select pay_select_one">
                    <p class="pay_money">还款</p>

                    <div class="right_pic"></div>

                </div>


            </a>

        </div>

    </div>


    <!------------账单-------------------->
    <div class="white_stripes_plate">

        <div class="top_plates">

            <p>账单</p>

        </div>

        <div class="take_now_plate">

            <a class="left_staff_img" href="../record/stages_record.html">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_carde.png">
                </div>

                <div class="left_img right_select_list right_line">
                    <p>分期订单</p>
                </div>

            </a>

            <a class="left_staff_img" href="../record/return_record.html">

                <div class="left_img">
                    <img src="../../images/white_stripes/credit_cardf.png">
                </div>

                <div class="left_img right_select_list">
                    <p>还款记录</p>
                </div>

            </a>

        </div>

    </div>

</div>

<!--<script>-->

    <!--/*优惠券规则-弹框*/-->
    <!--document.getElementsByClassName('rule')[0].addEventListener('click',function(){-->

        <!--jfShowTips.dialogShow({-->
            <!--"mainText": "使用规则",-->
            <!--"minText": "<ul class='boom_text_all'>" +-->
            <!--"               <li class='boom_text'>需要满足嘉白条代还信用卡使用规则</li>" +-->
            <!--"               <li class='boom_text'>借款金额小于等于免息券限制的金额</li>" +-->
            <!--"               <li class='boom_text'>分期期数等于免息券限制的期数</li>" +-->
            <!--"               <li class='boom_text'>满足嘉会员的用券规则</li>" +-->
            <!--"               <li class='boom_text'>最终解释权归嘉会员和嘉白条所有</li>" +-->
            <!--"           </ul>",-->
            <!--"noCheck": true,-->
            <!--"noCancel": false,-->
            <!--"cancleBtnText":"知道了",-->
            <!--"checkBtnText":"",-->
        <!--});-->

    <!--},false)-->
<!--</script>-->